%html
  %head
    %title
      Rikiki -
      = @page[:basename]
    %script{src: '/js/jquery.min.js'}
    // %script{src: '/js/showdown.js'}
    %script{src: '/js/js-markdown-extra.js'}
    %link{href: "/css/bootstrap.min.css", media: "screen, projection", rel: "stylesheet", type: "text/css"}
    %link{href: "/css/rikiki.css", media: "screen, projection", rel: "stylesheet", type: "text/css"}
    
  %body
    %form{method: 'post'}
      %p
        %ul#path
          %strong
            path: 
          %li.btn
            %a{href: '/'}
              home
          %strong
            = "/"
          - Array(@path_segments).each do |segment|  
            %li.btn
              %a{href: "/wiki#{segment[:path]}/"}
                = segment[:basename]
            %strong
              = "/"
          %strong
            = @page[:basename]
            = "/ index" if @page[:is_a_dir] and @page[:path] != '/index'
        .btn.pull-right
          %a#bt_edit{href: '#'}
            edit
        / 
          ************* DEBUG Infos *************
          filename :
          = @filename
          %br
          path: 
          = @path
          %br
          page
          = @page.inspect
          %br
          path_segments:
          = @path_segments.inspect
          ***************************************

        #markdown
          %a#bt_preview.btn{href: '#'}
            preview
          %input#save.btn{type: 'submit', value: 'save'}
          %a#save_continue.btn{href: '#'}
            save-continue
          %span#notice
          %p
            %textarea#content{name: 'content'}<= @page[:content]
          %a#bt_show_edit.btn{href: '#'}
            show_edit
        #html_out

    %script{src: '/js/app.js'}

