%html
  %head
    %script{src: '/js/jquery.min.js'}
    %script{src: '/js/showdown.js'}
    %link{href: "/css/bootstrap.min.css", media: "screen, projection", rel: "stylesheet", type: "text/css"}
    %link{href: "/css/rikiki.css", media: "screen, projection", rel: "stylesheet", type: "text/css"}
    
  %body
    %form{method: 'post'}
      %p
        %ul.menu
          %strong
            path: 
          %li.btn
            %a{href: '/'}
              home
          %strong
            = "/"
          - from_home = ""
          - Array(@segments[0,@segments.size-1]).each do |segment|  
            - from_home += segment + "/"
            %li.btn
              %a{href: "/wiki/#{from_home}"}
                = segment
            %strong
              = "/"
          - segment = @segments.pop
          - if segment
            - if @filename =~ /index\.md/
              %li.btn
                %a{href: "/wiki/#{from_home + segment}"}
                  = segment
            - else
              %strong
                = segment
          %li.btn.pull-right
            %a#bt_edit{href: '#'}
              edit
        //= @filename
        #markdown
          %a#bt_preview.btn{href: '#'}
            preview
          %input#save.btn{type: 'submit', value: 'save'}
          %p
            %textarea#content{name: 'content'}<= @content
          %a#bt_show_edit.btn{href: '#'}
            show_edit
        #html_out
    %script{src: '/js/app.js'}

